config HWFB 0
	option delay_per_packet_cycles 	0
	option delay_per_byte_cycles 	0
	option drop_type 				0
	option drop_value 				0
	option randgen_seed 			0x74d9a2fb
	option dst_global_addr			1
	option dst_local_addr			1

config SWFB_THREAD 0
	option delay_per_packet_secs 	0
	option delay_per_byte_secs 	0
	option drop_type 		0
	option drop_value 		1431655765
	option dst_type			STATS_THREAD
	option dst_id			0


config STATS_THREAD 0

