config HWFB 0
	option delay_per_packet_secs 	5
	option delay_per_byte_cycles 	0
	option drop_type 				0
	option drop_value 				0
	option randgen_seed 			0x74d9a2fb
	option dst_global_addr			1
	option dst_local_addr			1

config HWFB 1
	option delay_per_packet_secs 	10
	option delay_per_byte_cycles 	0
	option drop_type 				0
	option drop_value 				0
	option randgen_seed 			0x74d9a2fb
	option dst_global_addr			1
	option dst_local_addr			1

config HWFB 2
	option delay_per_packet_secs 	15
	option delay_per_byte_cycles 	0
	option drop_type 				0
	option drop_value 				0
	option randgen_seed 			0x74d9a2fb
	option dst_global_addr			1
	option dst_local_addr			1

config SWFB_THREAD 0
	option delay_per_packet_cycles 	500
	option delay_per_byte_secs 	0
	option drop_type 		0
	option drop_value 		1431655765
	option dst_type			SWFB_THREAD
	option dst_id			1
	
config SWFB_THREAD 1
	option delay_per_packet_cycles 	500
	option delay_per_byte_secs 	0
	option drop_type 		0
	option drop_value 		1431655765
	option dst_type			STATS_THREAD
	option dst_id			0
	
config SWFB_THREAD 2
	option delay_per_packet_cycles 	1000
	option delay_per_byte_secs 	0
	option drop_type 		0
	option drop_value 		1431655765
	option dst_type			STATS_THREAD
	option dst_id			0

config RECEIVE_THREAD
	option idp 3 SWFB_THREAD 0
	option idp 4 SWFB_THREAD 0
	option idp 2 STATS_THREAD 0
	option idp 5 STATS_THREAD 0
	option idp 6 STATS_THREAD 0
	option idp 7 STATS_THREAD 0
    option idp 8 STATS_THREAD 0
 	option idp 9 STATS_THREAD 0

config STATS_THREAD 0

config ETH_BLOCK
	option hash 0xabababa0abababa0 2 TO_FB0
	option hash 0xcdcdcdcdcdcdcdcd 3 TO_H2S
	option hash 0xefefefefefefefef 4 TO_FB0
	option hash 0xabababa1abababa1 6 TO_FB1
	option hash 0xabababa2abababa2 7 TO_FB2
	option hash 0xafafafafafafafaf 5 TO_H2S
	option hash 0xaaaaaaaaaaaaaaa8 8 TO_FB0
	option hash 0xaaaaaaaaaaaaaaa9 9 TO_FB1